@model PetroBM.Web.Models.LoadingArmModel


@{
    ViewBag.Title = "Dạng trực quan 1 kho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="visual-ware-house">
    @*<div>
            <div class="col-md-1">
                <label>Hiển thị họng</label>
            </div>

            <div class="col-md-11 form-group">
                <select id="armname">
                    @foreach (var item in Model.ListConfigArm)
                {
                        <option>@Html.DisplayFor(modelItem => item.ArmName)</option>
                    }

                </select>
            </div>
        </div>*@
    @foreach (var item in Model.ListLiveDataArm)
    {
        <div class="arm-display col-md-6">
            <div> <label>Họng <span id="armno-@Html.DisplayFor(modelItem => item.ArmNo)">@Html.DisplayFor(modelItem => item.ArmNo)</span></label> </div>
            @*<div class="arm-info"> <label>LL kế</label> <label> Sensor T</label> <label> Status</label></div>*@
            <div class="info-warehouse">
                <div class="arm-visual"></div>
                <div class="pump-2"><span class="info-txt" id="flowrate-2-txt-@Html.DisplayFor(modelItem => item.ArmNo)"></span></div>
                <div class="pipe-line-inactive-2" id="pipe-@Html.DisplayFor(modelItem => item.ArmNo)"></div>
                <div class="flowmeter-2 tool-tip">
                    @*<span class="flowmeter-2-txt tooltip-text"  id="flowmeter-2-txt-@Html.DisplayFor(modelItem => item.ArmNo)"></span>*@
                    <span class="info-txt" id="flowmeter-2-txt-@Html.DisplayFor(modelItem => item.ArmNo)"></span>
                    <img src="~/Content/images/icon/u327.png" width="50" />
                </div>
                <div class="temp-meter-2 tool-tip">
                    @*<span class="temp-2-txt tooltip-text" id="temp-2-txt-@Html.DisplayFor(modelItem => item.ArmNo)"></span>*@
                    <span class="info-txt" id="temp-2-txt-@Html.DisplayFor(modelItem => item.ArmNo)"></span>
                    <img src="~/Content/images/icon/Temp-meter.gif" width="30" />
                </div>
                <div class="valve-2">
                    <span class="info-txt" id="status"></span>
                    <img src="~/Content/images/icon/u329.png" width="50" />
                </div>
                <div class="pipe-line-inactive-small-2" id="pipe-small-@Html.DisplayFor(modelItem => item.ArmNo)"></div>
                <div class="connecter-2"><img src="~/Content/images/icon/connecter.gif" width="32" /></div>
                <div class="pipe-corner-2"><img src="~/Content/images/icon/Pipe-conner1.gif" width="27" /></div>
                <div class="loading-arm-2"><img src="~/Content/images/icon/loading-arm-2.gif" /></div>
                <div class="tanker-truck-2 tool-tip">
                    @*<span class="tooltip-text tanker-truck-2-txt" id="tanker-truck-2-@Html.DisplayFor(modelItem => item.ArmNo)"> </span>*@
                    <span style="position: absolute;margin-left: 20%;" id="tanker-truck-2-@Html.DisplayFor(modelItem => item.ArmNo)"></span>
                    <img src="~/Content/images/icon/tanker-truck-2.gif" width="100" />
                </div>
                <div class="pump-small-2"><span class="info-txt" id="flowrate-small-2-txt-@Html.DisplayFor(modelItem => item.ArmNo)"></span></div>
                <div class="flowmeter-small-2 tool-tip">
                    @*<span class="flowmeter-small-2-txt tooltip-text" id="flowmeter-small-2-txt-@Html.DisplayFor(modelItem => item.ArmNo)"> </span>*@
                    <span class="info-txt" id="flowmeter-small-2-txt-@Html.DisplayFor(modelItem => item.ArmNo)"></span>
                    <img src="~/Content/images/icon/u327.png" width="50" />
                </div>
                <div class="temp-meter-small-2 tool-tip"><span class="temp-small-txt tooltip-text" id="temp-small-2-txt-@Html.DisplayFor(modelItem => item.ArmNo)"></span><img src="~/Content/images/icon/Temp-meter.gif" width="20" /></div>
                <div class="valve-small-2"><img src="~/Content/images/icon/u329.png" width="50" /></div>
            </div>
            @*<div class="arm-info-2"> <label>LL kế</label> <label> Sensor T</label> <label> Status</label></div>*@
        </div>
        <script>


    $(document).ready(function () {
        SearchData();

        setInterval(function () {
            SearchData();

        }, 5000);
        $(document.body).on("keydown", this, function (event) {
            if (event.keyCode == 116) {
                alert = function(){};
            }
        });
        function SearchData() {

            var armNo = document.getElementById('armno-'+@Html.DisplayFor(modelItem => item.ArmNo)).innerHTML;

            $.ajax({
                url: '/LoadingArm/GetSearchingData/',
                type: 'POST',
                data: {
                    "armNo": armNo,
                },
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (i, item) {

                        if (item.Flowrate == 0 || item.Flowrate == null) {
                            document.getElementById("pipe-"+armNo).className = "pipe-line-inactive-2";
                        } else {
                            document.getElementById("pipe-"+armNo).className = "pipe-line-active-2";
                        }

                        if (item.Flowrate_E == 0 || item.Flowrate_E == null) {
                            document.getElementById("pipe-small-" + armNo).className = "pipe-line-inactive-small-2";
                            document.getElementById('flowrate-2-txt-' + armNo).innerHTML = item.Flowrate;
                        } else {
                            document.getElementById("pipe-small-" + armNo).className = "pipe-line-active-small-2";
                            document.getElementById('flowrate-2-txt-' + armNo).innerHTML = item.Flowrate_Base;
                        }
                        document.getElementById('temp-2-txt-'+armNo).innerHTML = item.CurrentTemperature;                        
                        //document.getElementById('temp-small-2-txt-'+armNo).innerHTML = item.CurrentTemperature;
                        document.getElementById('flowmeter-small-2-txt-'+armNo).innerHTML = item.Flowrate_E;
                        document.getElementById('tanker-truck-2-'+armNo).innerHTML = item.VehicleNumber;
                        document.getElementById('flowmeter-2-txt-'+armNo).innerHTML= item.V_Actual;
                        document.getElementById('flowrate-small-2-txt-'+armNo).innerHTML=item.Flowrate_E;
                        document.getElementById('flowmeter-small-2-txt-'+armNo).innerHTML= item.V_Actual_E;

                        //switch (item.Status) {
                        //    case 0:
                        //        document.getElementById('status').innerHTML = "Chờ đăng ký lấy hàng";
                        //        break;
                        //    case 1:
                        //        document.getElementById('status').innerHTML = "Đã quẹt thẻ";
                        //        break;
                        //    case 2:
                        //        document.getElementById('status').innerHTML = "Nhập ngăn";
                        //        break;
                        //    case 3:
                        //        document.getElementById('status').innerHTML = "Chuẩn bị xuất";
                        //        break;
                        //    case 4:
                        //        document.getElementById('status').innerHTML = "Đang xuất";
                        //        break;
                        //    case 5:
                        //        document.getElementById('status').innerHTML = "Kết thúc";
                        //        break;
                        //    case 6:
                        //        document.getElementById('status').innerHTML = "Dừng ép";
                        //        break;
                        //    case 7:
                        //        document.getElementById('status').innerHTML = "Nhập serial";
                        //        break;
                        //}

                    })
                },
                error: function (err) {
                    alert("Error: " + err.responseText);
                }
            });

        }
    });
        </script>

    }

</div>

