
@{
    ViewBag.Title = "SealHTML";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SealHTML</h2>

<div>
    <table width="100%">
        <colgroup>
            <col width="50%" />
            <col width="50%" />
        </colgroup>

        <tr>
            <td>
                <table>
                    <tr>
                        <td>Thời gian đăng ký lệnh</td>
                        <td><input type="text" value="15:20 18/11/2017" />     </td>
                    </tr>
                    <tr>
                        <td>Mã kho</td>
                        <td><input type="text" value="Mông dương" />     </td>
                    </tr>
                    <tr>
                        <td>Mã lệnh</td>
                        <td><input type="text" value="123456" />     </td>
                    </tr>
                    <tr>
                        <td>Card data</td>
                        <td><input type="text" value="74870001122444" />     </td>
                    </tr>
                    <tr>
                        <td>Card serial</td>
                        <td><input type="text" value="172333" />     </td>
                    </tr>
                    <tr>
                        <td>Mã khách hàng</td>
                        <td><input type="text" value="DD000001" />     </td>
                    </tr>
                    <tr>
                        <td colspan="2">Thông tin Phương tiện</td>
                    </tr>
                    <tr>
                        <td>Số phương tiện</td>
                        <td><input type="text" value="88K2 0764" />     </td>
                    </tr>
                    <tr>
                        <td>Tên tài xế</td>
                        <td><input type="text" value="Nguyễn Kim Thắng" /> </td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>Số niêm chì lần cuối</td>
                        <td><input type="text" value="00001" />     </td>
                    </tr>
                    <tr>
                        <td colspan="2">Lượng hàng theo dõi từng ngăn</td>
                    </tr>
                    <tr>
                        <td colspan="2">

                            <table>
                                <thead>
                                    <tr>
                                        <td>Số Ngăn</td>
                                        <td>Dung tích thực</td>
                                        <td>Hàng hóa</td>
                                        <td>Số lượng</td>
                                        <td>Niên đầu</td>
                                        <td>Niên cuối</td>
                                        <td>Chênh lệch</td>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>1</td>
                                    <td>3.000</td>
                                    <td>DOC</td>
                                    <td>3.000</td>
                                    <td><input type="text" value="00002" /> </td>
                                    <td><input type="text" value="00003" /> </td>
                                    <td><input type="text" value="0" /></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>3.000</td>
                                    <td>DOC</td>
                                    <td>3.000</td>
                                    <td><input type="text" value="00004" /> </td>
                                    <td><input type="text" value="00005" /> </td>
                                    <td><input type="text" value="0" /></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>3.000</td>
                                    <td>DOC</td>
                                    <td>3.000</td>
                                    <td><input type="text" value="00006" /> </td>
                                    <td><input type="text" value="00007" /> </td>
                                    <td><input type="text" value="+1" /></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>3.000</td>
                                    <td>E6_A92</td>
                                    <td>3.000</td>
                                    <td><input type="text" value="00008" /> </td>
                                    <td><input type="text" value="00009" /> </td>
                                    <td><input type="text" value="+1" /></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>3.000</td>
                                    <td>E6_A92</td>
                                    <td>3.000</td>
                                    <td><input type="text" value="00010" /> </td>
                                    <td><input type="text" value="00011" /> </td>
                                    <td><input type="text" value="+1" /></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>3.000</td>
                                    <td>E6_A92</td>
                                    <td>3.000</td>
                                    <td><input type="text" value="00012" /> </td>
                                    <td><input type="text" value="00013" /> </td>
                                    <td><input type="text" value="+1" /></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>3.000</td>
                                    <td>E6_A92</td>
                                    <td>3.000</td>
                                    <td><input type="text" value="00014" /> </td>
                                    <td><input type="text" value="00015" /> </td>
                                    <td><input type="text" value="-1" /></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>3.000</td>
                                    <td>E6_A92</td>
                                    <td>3.000</td>
                                    <td><input type="text" value="00016" /> </td>
                                    <td><input type="text" value="00017" /> </td>
                                    <td><input type="text" value="-1" /></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>3.000</td>
                                    <td>E6_A92</td>
                                    <td>3.000</td>
                                    <td><input type="text" value="00018" /> </td>
                                    <td><input type="text" value="00019" /> </td>
                                    <td><input type="text" value="-1" /></td>
                                </tr>

                                <tr>
                                    <td>Tổng</td>
                                    <td>16.000</td>
                                    <td>4</td>
                                    <td>16.000</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>      
                </table>
            </td>
        </tr>

    </table>

    <input type="button" id="btnSave" value="Lưu" /> <input type="button" id="btnPrint" value="In" />  <input type="button" id="btnCancel" value="Hủy" />

</div>